* {
  font-family: 'Ubuntu';
}

.about-us {
  display: grid;
  padding: 2em;
  color: #1b4965;

  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__article {
    padding-top: 1em;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
  }
}
