@mixin font-weight() {
  &--300 {
    font-weight: 300;
  }
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--600 {
    font-weight: 600;
  }
}

@mixin h1() {
  font-size: 46px;
  color: $dark-blue;
  letter-spacing: 2.3px;
  font-weight: 700;
}
